# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: baidu_submit

on:
  # schedule:
  #   - cron: "0 0 0,6,12,18 * * *"
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
        architecture: 'x64'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests

    - name: 'Read Secrets'
      env:
        BAIDU_SUBMIT_API: ${{ secrets.BAIDU_SUBMIT_API }}
        BAIDU_SITEMAP_URL: ${{ secrets.BAIDU_SITEMAP_URL }}

    - name: Baidu_Submit
      run: |
        python baidu_submit/baidu_submit.py
